<div *ngIf="products.length > 0" style="padding: 20px;">
  <!-- Filter section -->
  <h2>Filters</h2>
  <div class="filters">
    <select id="brand" class="filter-select" #brandSelect (change)="onChange(brandSelect.value, categorySelect.value, sortSelect.value)">
      <option value="">Brand Filter</option>
      <option value="brand1">Brand 1</option>
      <option value="brand2">Brand 2</option>
      <option value="brand3">Brand 3</option>
    </select>
    <select id="category" class="filter-select" #categorySelect (change)="onChange(brandSelect.value, categorySelect.value, sortSelect.value)">
      <option value="">Category Filter</option>
      <option value="shirt">Shirt</option>
      <option value="t-shirt">T-Shirt</option>
      <option value="jacket">Jacket</option>
      <option value="pants">Pants</option>
    </select>
    <select id="sort" class="filter-select" #sortSelect (change)="onChange(brandSelect.value, categorySelect.value, sortSelect.value)">
      <option value="">Sort Options</option>
      <option value="ascending">Highest Price</option>
      <option value="descending">Lowest Price</option>
    </select>
  </div>
  <!-- Product gridview -->
  <div class="products">
    <h2 class="title">Products</h2>
    <div class="product-grid">
      <div class="product-item" *ngFor="let product of products">
        <div class="product-card">
          <img [src]="'assets/productImages/' + product.image" alt="{{ product.name }}" />

          <div class="product-info product-details">
            <div class="product-info-left">
              <h3 class="name">{{ product.name }}</h3>
              <p class="brand">{{ product.brand }}</p>
            </div>
            <div class="product-info-right">
              <p class="stock">{{ product.stock }} in stock</p>
              <p class="price">{{ product.price }} €</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="products.length === 0">
  <p>Loading products...</p>
</div>
